div.top-container{
  
    width: 100%;
    position:relative;
    font-display: #740938;
    padding-bottom: 10px;
    text-align: center;
    padding-top: 5px;
    background-color: #DE7C7D;
    width: 100%;
    height:20%
    

}
.left{
  text-align:center;
  
}
.intro-row{
  width: 100%;
  row-gap: 5vh;
}


 
 




body{
    margin: 0;
    text-align: center;
    color: #40514E;
    font-weight: 500;
    padding-bottom: 10px;
       
}
.name{
  padding-top:100px ;
}

h1{
   color: #740938;
   font-size: 5.62vh;
    font-style: normal;
    font-weight: 700;
  font-family:'Montserrat',serif;}
.top-container h2{
   color: #740938;
   font-size:5vh;
   font-weight: 900;
   font-family: "Amatic SC", serif;

}
.profile h2{
  font-size: 2.5rem;
  color: #CC2B52;
 font-weight: 900;
 font-family: "Amatic Sc", serif;

}
.profile_img{
    border-radius: 70%;
    margin-bottom:10px;
    background-color: #fff;
    padding: 4px;

 }
 .profile{
  padding-top:10px ;
  background-image: url(https://media.tenor.com/7Kfeng1H6kMAAAAe/grass-yan-jun-squeeze.png);
  background-size: 150px;
  background-position: bottom;
  background-repeat: no-repeat;
  padding: 20px 20px ;
 }

 .skills{
    padding: 100px 15px 0px 0px;
    background-color:#fff;


 }
 .webdev{
   width: 25%;
   float: left;
   margin-right: 30px;
 }
 .ai{
   width: 25%;
   float: right;

   margin-left: 30px;
 }
 .program{
   width:25%;
   float: left;

   margin-right: 30px;
 
 }
 .project{
   width:25%;
   float: right;

   margin-left: 30px;
  
 }
 .hobbies{
   width: 25%;
   float: left;

   margin-right: 30px;
 
 }
 .intro
 {
width: 100%;
text-align: center;
padding-bottom: 100px;
 }
 p
 {font-size: 2.5vh;
  font-weight: 500;
  font-family: 'Montserrat',serif;
 }
 .contact-me{
   width:40%;
   margin: 40px auto 60px;
 }
 .i-button {
  width: 100px;
   background: #740938;
   background-image: linear-gradient(top, #b91159, #CC2B52);
   background-image: -moz-linear-gradient(top, #b91159, #CC2b52);
   background-image: -ms-linear-gradient(top, #b91159, #CC2b52);
   background-image: -o-linear-gradient(top, #b91159, #CC2b52);
   background-image: linear-gradient(to bottom, #b91159, #CC2b52); 
   font-family: Arial;
   color: white;
   font-size: 30px;
   text-decoration:solid;
   border: none;
 }
 
 .i-button:hover{
   background: #CC2B52;
   border: none;
   color: #CC2b52;

 }
 a{
  color: #fff;
  margin: 10px 20px;
  text-decoration: none;

 }
 .copy{
  color: #40eeee;

 }
 .amatic-sc-bold {
  font-family: "Amatic SC", serif;
  font-weight: 700;
  font-style: normal;
}
.nav-item{
  color: #740938;
}

.nav-bar{
  background-color: #DE7C7D;
  width: 100%;
  margin: 0px auto;
  padding: 0px 5px 15px 0px;
  align-items: center;
  justify-content: space-between;

}
.game{
  height: 40rem;
}
.main-game{
  height: 45vh;
  display: flex;
flex-wrap: wrap;
justify-content:center;
align-items: center;

}

.board{
  height: 40vh;
  width: 40vh;
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  align-items: center;
  gap: 1.5vmin;
}

.box{
  height: 11.5vh;
  width: 11.2vh;
  border-radius: 1rem;
  background-color: #ffff;
  border-color:#fff ;
  font-size: 5vh;
  color: #9b0747;
}
.box:hover{
  background-color: #CC2b52;
}

#reset{
  background-color: #9b0747;
  border-radius:1.5rem ;
  height: 2.5rem;
  width: 5rem;
  justify-content: center;
  align-items: center;
  border: none;
  color: white;
}
#reset:hover{
  background-color: #740521;
}
.message{
  color: #9b0747;
  font-size: 25px;;
}

.hide{
  display: none;
}
.skills h2{
  font-size: 2.5rem;
  font-family:'Montserrat',serif;
  color: #740938;
}
h3{
   color:#CC2B52;
   font-weight: 800;
   font-family: "Amatic Sc", serif;
}

.skills{
  padding-bottom: 100px;
}

.items{
  line-height:1rem;
}
.card{
margin-left: 100px;
}

.bottom-container{
  background-color: #DE7C7D;
  height: 50vh;
  position: relative;
  bottom: 0%;
  
  
}
.footer{
  position:absolute;
  bottom: 0%;
  margin-left: 40%;
  
  
}